{
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml", "*.json"],
      "options": {
        "singleQuote": false,
        "printWidth": 130
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always",
        "printWidth": 100
      }
    },
    {
      "files": ["Dockerfile", "*.sh"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
